.grid {
    display: flex;                       /* establish flex container */
    flex-wrap: wrap;                     /* enable flex items to wrap */
    justify-content: space-around;
    
}
.cell {
    flex: 0 0 32%;                       /* don't grow, don't shrink, width */
    height: 50px;
    margin-bottom: 5px;
    background-color: #999;
}

button {
    margin-top: 4vmin;
    padding: 2vmin;
    font-size: 2vmin;
    border-radius: 4vmin;
    border: 0.1vmin solid grey;
    color: grey;
}

button:hover {
    color: white;
    background-color: red;
}