* {
    box-sizing: border-box;
} 

body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 500px;
    width: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 5px;

    
}
.cell {
    background-color: #999;
}

/* .grid {
    display: flex;                       
    flex-wrap: wrap;                     
    justify-content: center;
    
}
.cell {
    flex: 0 0 32%;                       
    height: 50px;
    margin: 5px;
    background-color: #999;
} */


button {
    margin-top: 4vmin;
    padding: 2vmin;
    font-size: 2vmin;
    border-radius: 4vmin;
    border: 0.1vmin solid grey;
    color: grey;
}

button:hover {
    color: white;
    background-color: red;
}